<template>
  <div>
    <section>
      <div class="digital">
        <h1>
          Digital strategy that allows your business to meet its growth plan for
          years to come.
        </h1>
        <p>
          Perfectly shaped for reaching your business goals and objectives, and
          ensuring your company can effectively formulate and develop its
          vision.
        </p>
      </div>
    </section>
    <div class="hero">
      <h1 v-show="pushDetails">
        We develop agile digital strategies that provide our clients a
        competitive edge on the market.
      </h1>
      <p>
        We help you position your business as a disruptor on the market through
        a customized, detailed and data-driven digital strategy.
      </p>
    </div>
    <div class="image">
      <img
        src="https://images.pexels.com/photos/1560932/pexels-photo-1560932.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt="img"
      />
    </div>
    <div class="hero_two">
      <h1>Our digital strategy service includes Our digital strategy</h1>
    </div>
    <div class="market">
      <ul>
        <li>- Market Research</li>
        <li>- B2B & B2C</li>
        <li>- Digital Strategy Book</li>
        <li>- KPI Definition/Metrics</li>
      </ul>
      <ul>
        <li>
          - Plan & Timeline
        </li>
        <li>
          - Digital Consulting Services
        </li>
        <li>- Brand Communication Strategy</li>
        <li>- Measuring & Predicting ROI</li>
      </ul>
      <ul>
        <li>- Competitors Analysis</li>
        <li>- Omni-channel Strategy</li>
        <li>- Content Strategy</li>
      </ul>
    </div>
    <div class="row">
      <div class="first_image">
        <img
          src="https://images.pexels.com/photos/1679618/pexels-photo-1679618.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          alt="img"
        />
        <h3 class="scroll" v-if="!scrolling">
          It all ends with a strategy that wins.
        </h3>
        <p>
          We develop and deliver a winning data-driven digital strategy that
          <br />
          covers all communication channels relevant to your potential<br />
          customers, business goals and objectives.
        </p>
      </div>
      <div class="second_image  ">
        <img
          src="https://images.pexels.com/photos/3182755/pexels-photo-3182755.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="img"
        />
        <h3 class="col span-1-of-3">It all starts with a strategic session.</h3>
        <div class="inside">
          <p>
            Working closely with your team, we gain a deeper understanding of
            your company´s needs, which helps us convert them into tailored
            goals and objectives.
          </p>
          <img
            src="https://images.pexels.com/photos/3183172/pexels-photo-3183172.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="img"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      scrolling: false,
    };
  },
  methods: {},
  created: function() {
    let isScrolling;
    window.addEventListener(
      "scroll",
      () => {
        this.scrolling = true;
        window.clearTimeout(isScrolling);
        isScrolling = setTimeout(() => {
          this.scrolling = false;
        }, 400);
      },
      false
    );
  },
};
</script>

<style scoped>
section {
  margin-top: 70px;
}
.digital {
  width: 100%;
  height: 64vh;
  background-color: black;
  padding: 4em;
}
.digital h1 {
  padding: 1em;
  color: white;
  font-size: 55px;
}
.digital p {
  color: white;
  font-size: 23px;
}
.digital_image {
  padding: 3em;
}
h2 {
  font-size: 40px;
  position: absolute;
  bottom: 4%;
  color: white;
}
.hero {
  padding: 4em;

  height: auto;
}
.hero h1 {
  font-size: 50px;
}
.hero p {
  font-size: 32px;
  padding: 0.8em;
  font-family: "Train One", cursive;
}
.hero_two {
  padding: 3em;
  font-size: 23px;
}
.market {
  display: flex;
  justify-content: space-around;
  padding: 5em;
  background-color: rgb(243, 239, 235);
  font-size: 20px;
  flex-wrap: wrap;
}
li {
  list-style: none;
  margin: 0.3em;
  padding: 0.3em;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
img {
  width: 30rem;
  border-radius: 4px;
}
.first_image {
  padding: 2em;
  margin: auto;
}
.first_image img {
  width: 32rem;
  height: 50vh;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 8px;
}
.first_image p {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.second_image {
  display: flex;
  padding: 1em;
  box-shadow: 0px 0px 0px 2px;
}
.second_image img {
  width: 25rem;
  padding: 0.2em;
  height: 70vh;
  padding: 1em;
  border-radius: 20px 50px;
}
.scroll {
  transition: ease-in-out;
}

h3 {
  font-size: 2rem;
  padding: 0.4em;
  font-family: "Train One", cursive;
}
.inside p {
  font-size: 24px;
  padding: 1em;
  font-family: "Train One", cursive;
}
</style>
