<template>
  <div>
    <section class="form">
      <form @submit.prevent="submitSurvey">
        <h2>REGISTER</h2>
        <div class="input-container">
          <input
            class="input-field"
            type="text"
            placeholder="fullname"
            name="name"
            v-model.trim="enteredName"
          />
        </div>

        <div class="input-container">
          <input
            class="input-field"
            type="text"
            placeholder="Email"
            name="email"
            v-model="enteredEmail"
          />
        </div>
        <div class="input-container">
          <input
            class="input-field"
            type="text"
            placeholder="password"
            name="password"
            v-model="setPassword"
          />
        </div>

        <h3>YOUR EXPERIENCE</h3>
        <div class="form-control">
          <input
            type="radio"
            id="rating-poor"
            value="poor"
            name="rating"
            v-model="chosenRating"
          />
          <label for="rating-poor">Poor</label>
        </div>
        <div class="form-control">
          <input
            type="radio"
            id="rating-average"
            value="average"
            name="rating"
            v-model="chosenRating"
          />
          <label for="rating-average">Average</label>
        </div>
        <div class="form-control">
          <input
            type="radio"
            id="rating-great"
            value="great"
            name="rating"
            v-model="chosenRating"
          />
          <label for="rating-great">Great</label>
        </div>

        <textarea
          class="area"
          name="textarea"
          id="area"
          cols="30"
          rows="10"
          v-model.trim="textArea"
        ></textarea>
        <button class="btn">submit</button>
      </form>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      enteredName: "",
      enteredEmail: "",
      setPassword: "",
      textArea: "",
      chosenRating: null,
      invalidInput: false,
    };
  },
  // emits: ['survey-submit'],
  methods: {
    submitSurvey() {
      if (this.enteredName === "" || !this.chosenRating) {
        this.invalidInput = true;
        return;
      }
      this.invalidInput = false;

      // this.$emit('survey-submit', {
      //   userName: this.enteredName,
      //   rating: this.chosenRating,
      // });

      fetch("https://forms-and-default-rtdb.firebaseio.com/rambo.json", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          email: this.enteredEmail,
          name: this.enteredName,
          rating: this.chosenRating,
          textArea: this.textArea,
          password: this.password,
        }),
      });

      this.enteredName = "";
      this.chosenRating = null;
      this.enteredEmail = "";
      this.textArea = "";
    },
  },
};
</script>
<style scoped>
body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.form {
  margin: 10rem auto;
  max-width: 50rem;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  margin: 1em;
  border: 2px solid peru;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* Set a style for the submit button */
.btn {
  background-color: rgb(184, 145, 74);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 10rem;
  opacity: 0.9;
  margin: 1em;
}
.form h2,
h3 {
  color: peru;
}
.form-control {
  margin: 0.4em;
  color: peru;
}
.area {
  width: 400px;
  height: 150px;
  border-color: peru;
}
.btn:hover {
  opacity: 1;
}
@media screen and (max-width: 600px) {
  .input-container {
    display: flex;
  }
  .form-control {
    display: flex;
    justify-content: center;
  }
  .area {
    padding: 7%;
    height: 100px;
  }
}
</style>
