<template>
  <div>
    <section>
      <ul>
        <user-item
          v-for="user in users"
          :key="user.id"
          :image="user.image"
          :name="user.fullName"
          :role="user.role"
        ></user-item>
      </ul>
    </section>
  </div>
</template>

<script>
import UserItem from "./UserItem.vue";

export default {
  components: {
    UserItem,
  },
  inject: ["users"],
  methods: {
    confirmInput() {
      // do something
      this.$router.push("/teams");
    },
  },
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 2rem auto;
  max-width: 20rem;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

section {
  margin-top: 4rem;
}
</style>
