<template>
  <div>
    <section>
      <li class="users">
        <h3>{{ name }}</h3>
        <div>
          <img :src="image" alt="" />
        </div>
        <div class="role" :class="roleClass">{{ role }}</div>
      </li>
    </section>
  </div>
</template>

<script>
export default {
  props: ["name", "image", "role"],
  computed: {
    roleClass() {
      if (this.role === "Engineer") {
        return "role--engineer";
      }
      if (this.role === "Consultant") {
        return "role--consultant";
      }

      return null;
    },
  },
};
</script>

<style scoped>
.front {
  color: blue;
}
li {
  margin: 1rem 0;

  padding: 1rem;
}

h3 {
  margin: 0.5rem 0;
  color: blue;
  font-size: 30px;
  padding: 1em;
}
img {
  width: 12rem;
  margin: 0.3em;
  border-radius: 5px;
  box-shadow: 0 0 8px;
}

.role {
  border-radius: 40px;
  background-color: #ccc;
  color: #252525;
  padding: 0.25rem 1rem;
  display: inline-block;
}

.role--engineer {
  background-color: blue;
  color: white;
}

.role--consultant {
  background-color: #af003a;
  color: white;
}
section {
  margin-top: 7rem;
}
</style>
