<template>
  <div>
    <section>
      <h2>{{ teamName }}</h2>
      <ul class="members">
        <user-item
          v-for="member in members"
          :key="member.id"
          :image="member.image"
          :name="member.fullName"
          :role="member.role"
        ></user-item>
      </ul>
    </section>
  </div>
</template>

<script>
import UserItem from "../users/UserItem.vue";

export default {
  inject: ["users", "teams"],
  components: {
    UserItem,
  },
  data() {
    return {
      teamName: "",
      members: [],
    };
  },

  created() {
    // this.$route.path // /teams/t1
    const teamId = this.$route.params.teamId;
    const selectedTeam = this.teams.find((team) => team.id === teamId);
    const members = selectedTeam.members;
    const selectedMembers = [];
    for (const member of members) {
      const selectedUser = this.users.find((user) => user.id === member);
      selectedMembers.push(selectedUser);
    }
    this.members = selectedMembers;
    this.teamName = selectedTeam.name;
  },
};
</script>

<style scoped>
section {
  margin: 2rem auto;
  max-width: 50rem;

  padding: 1rem;
  border-radius: 12px;
  margin-top: 6rem;
}
.members {
  display: flex;
}
.role {
  border-radius: 40px;
  background-color: #ccc;
  color: #252525;
  padding: 0.25rem 1rem;
  display: inline-block;
}

.role--engineer {
  background-color: blue;
  color: white;
}

.role--consultant {
  background-color: #af003a;
  color: white;
}

h2 {
  margin: 0.5rem 0;
  font-size: 50px;
  color: #4d1b10;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
