<template>
  <div id="app">
    <the-nav></the-nav>

    <router-view />
    <footer>
      <router-view name="footer"></router-view>
    </footer>
  </div>
</template>
<script>
import TheNav from "./components/nav/TheNav";

export default {
  components: {
    TheNav,
  },
  data() {
    return {
      teams: [
        { id: "t1", name: "Digital Strategy", members: ["u1", "u2"] },
        { id: "t2", name: "Data Engineers", members: ["u1", "u2", "u3"] },
        { id: "t3", name: "Digital Marketing", members: ["u4", "u5"] },
      ],
      users: [
        {
          id: "u1",
          image:
            "https://images.pexels.com/photos/2262810/pexels-photo-2262810.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260",
          fullName: "Gloria Tomson",
          role: "Engineer",
        },
        {
          id: "u2",
          image:
            "https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260",

          fullName: "Praveen Kumar",
          role: "Engineer",
        },
        {
          id: "u3",
          image:
            "https://images.pexels.com/photos/2169434/pexels-photo-2169434.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260",
          fullName: "Julie Jones",
          role: "Engineer",
        },
        {
          id: "u4",
          image:
            "https://images.pexels.com/photos/1516680/pexels-photo-1516680.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260",
          fullName: "Alex Blackfield",
          role: "Consultant",
        },
        {
          id: "u5",
          image:
            "https://images.pexels.com/photos/262391/pexels-photo-262391.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260",
          fullName: "Nikola Krstevski",
          role: "Consultant",
        },
      ],
    };
  },
  provide() {
    return {
      teams: this.teams,
      users: this.users,
    };
  },
};
</script>

<style>
@import "./assets/style.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
