<template>
  <div>
    <section>
      <div class="row">
        <h1>MICROBI</h1>
        <div class="city">
          <h1>LONDON</h1>
          <p>+41 76 793 77 50</p>
          <h1>SKOPJE</h1>
          <p>+389 78 221 656</p>
        </div>
        <div class="links">
          <li><router-link to="/form">CONTACT </router-link></li>
          <li><router-link to="/about">ABOUT </router-link></li>
          <li><router-link to="/nav">HOME</router-link></li>
        </div>
      </div>
    </section>
  </div>
</template>

<style scoped>
section {
  background-color: rgb(82, 40, 40);
  height: auto;
}

p {
  margin: 0.3em;
}
.row {
  display: flex;
  justify-content: space-between;
  color: white;
}
a {
  color: white;
  margin: 0.5em;
  font-size: 20px;
  text-decoration: none;
  padding: 3em;
}
h1 {
  padding: 0.6em;
}
.links {
  padding: 0.7em;
}
li {
  margin: 0.4em;
  list-style: none;
}
@media only screen and (max-width: 600px) {
  a {
    font-size: 13px;
    padding: 10%;
  }
}
</style>
