<template>
  <div>
    <header>
      <div class="hero">
        <h1>
          We reshape companies into digital <br />
          businesses.
        </h1>
        <p>
          We help our clients gain a competitive advantage and enhance their
          business performance by exploiting data and digital technologies.
        </p>

        <div id="direction"><hr /></div>
      </div>
    </header>
    <section>
      <div class="hero_two">
        <div>
          <h1>
            We exist at the intersection of data and digital art where anything
            is possible.
          </h1>
        </div>
        <div>
          <button class="btn-1" @click="addTeam">
            TEAMS
          </button>
          <button class="btn-2" @click="addUsers">
            USERS
          </button>
        </div>
        <section id="services">
          <h1>Our Services</h1>
          <div
            class="container_image col span-1-of-3 box"
            v-for="img in image"
            :key="img.id"
          >
            <img :src="img.photo" :alt="img" />
            <h4>{{ img.title }}</h4>
            <h3>{{ img.description }}</h3>
            <button class="btn-active" @click="addServices(img)">
              {{ img.link }}SEE MORE
            </button>
          </div>
        </section>
      </div>
    </section>
    <section id="areas">
      <div class="container">
        <div class="row">
          <div class="active">
            <ul>
              <li>
                - Digital Transformation
              </li>
              <li>
                - Brand Communication Strategy
              </li>
              <li>
                - Custom Web Platforms
              </li>
              <li>
                - Targeting Audience
              </li>
            </ul>
            <ul>
              <li>
                - Digital Strategy -
              </li>
              <li>
                - B2B Digital Marketing
              </li>
              <li>
                - Corporate Web Design
              </li>
              <li>
                - Integrated Digital Marketing Campaigns
              </li>
            </ul>
            <ul>
              <li>- Market Research</li>
              <li>- Project Planning and Management</li>
              <li>
                - eCommerce Development
              </li>
              <li>- Measuring and Predicting ROI</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      image: [
        {
          photo:
            "https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940",

          title: "Digital Strategy",
          description:
            "B2B Digital Strategy, Omni-channel Digital Strategy, Measuring & Predicting ROI.",

          url: "/digital",
        },
        {
          photo:
            "https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260",
          title: "Data Research",
          description:
            "Market Research, Competitor Analysis, Insights through Data, Segmentation & Targeting.",

          url: "/data",
        },
        {
          photo:
            "https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260",
          title: "Digital Marketing",
          description:
            "Integrated Digital Marketing, Search & Display Advertising, Remarketing,Social Media.",

          url: "/marketing",
        },
      ],
    };
  },

  methods: {
    addTeam() {
      this.$router.push("/teams");
    },
    addUsers() {
      this.$router.push("/users");
    },

    addServices(image) {
      this.$router.push(image.url);
    },
  },
};
</script>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  margin-top: 70px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid black;

  font-family: "RocknRoll One", sans-serif;
  background-color: rgb(0, 0, 10);
}
section {
  width: 100%;
  height: auto;
  background-color: white;
}
img {
  width: 25rem;
  object-fit: cover;
}
.hero_two h1 {
  font-size: 54px;
  padding: 2em;
  font-family: "RocknRoll One", sans-serif;
  color: black;
}

#services {
  padding: 2em;
}
#services h3 {
  font-size: 19px;
  padding: 1em;
  letter-spacing: 1px;
  color: black;
}
#services h4 {
  font-size: 30px;
  color: black;
}

.active {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  font-size: 1.4rem;
  flex-wrap: wrap;
  background-color: rgb(247, 245, 243);
  padding: 1em;
}

.btn-active {
  padding: 0.5em;
  border-color: rgb(136, 43, 43);
  cursor: pointer;
  font: inherit;
  color: rgb(136, 43, 43);
  border-radius: 4px;
}
.btn-active:hover {
  color: #ffffff;

  background-color: #d43b15;
  transition: all 0.3s ease-in-out;
}
.active li {
  margin: 1em;
  list-style: none;
}

.hero {
  padding: 5em;
  letter-spacing: 2px;
}
.hero_two p {
  font-size: 50px;
  padding: 3em;
  color: rgb(0, 0, 0);
  font-family: "Merriweather", serif;
  font-weight: bold;
}

.hero p {
  color: white;
  padding: 1em;
  font-size: 18px;
}
.hero h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 1.5em;
  margin: 0.7em;
}

.container_image {
  padding: 4em;
}

#direction {
  width: 0.2rem;
  margin: auto;
  height: 4rem;
  background-color: white;
}

.btn-1 {
  width: 220px;
  height: 55px;
  border: none;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #bbb89b;
  transition: ease-out 0.4s;
  font-size: 1.4rem;
  outline: none;
  margin: 0.4em;
}
.btn-1:hover {
  box-shadow: inset 300px 0 0 0 #dbd7a2;
  cursor: pointer;
  color: #000;
}
.btn-2 {
  width: 220px;
  height: 55px;
  border: none;
  color: rgb(7, 0, 0);
  border-radius: 4px;
  transition: ease-out 0.4s;
  font-size: 2rem;
  outline: none;
  font-size: 1.4rem;
  border: 3px solid #000000;
  position: relative;
  z-index: 1;
}
.btn-2:hover {
  color: #fff;
  cursor: pointer;
}
.btn-2:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #000000;
}
h4 {
  margin: 0.3em;
  font-size: 1.3rem;
}
.btn-2:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .hero {
    padding: 1rem;
  }
  h1 {
    font-size: 22px;
  }
  .hero h1 {
    font-size: 20px;
  }
  p {
    padding: 1.3em;
    font-size: 14px;
  }
  .btn-2 {
    height: 60px;
    width: 100px;
  }
  .hero_two {
    padding: 1em;
  }
  .hero_two h1 {
    font-size: 23px;
  }

  .hero_two p {
    padding: 2em;
    display: inline-block;
    font-size: 10px;
  }

  .container_image {
    padding: 1em;
  }
  img {
    width: 100%;
  }
  #services h1 {
    font-size: 40px;
  }
}
</style>
