<template>
  <div>
    <nav :class="{ change_color: scrollPosition > 50 }">
      <input type="checkbox" id="nav-toggle" />

      <ul class="links">
        <div class="logo">MICROBI</div>
        <li><router-link to="/form">CONTACT US</router-link></li>
        <li><router-link to="/about">ABOUT US</router-link></li>
        <li><router-link to="/nav">HOME</router-link></li>
      </ul>
      <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </label>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      scrollPosition: null,
    };
  },
  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY;
    },
  },
  mounted() {
    window.addEventListener("scroll", this.updateScroll);
  },
};
</script>

<style scoped>
.change_color {
  background-color: rgb(75, 50, 60);
  transition: all 1s ease-in-out;
}

.container img {
  display: block;
  width: 100%;
}
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  background-color: rgb(0, 0, 7);
  padding: 0.4%;
}

nav .logo {
  width: 40%;
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #d43b15;
  letter-spacing: 4px;
  padding: 1em;
}
nav .links {
  float: right;
  padding: 0;

  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: wheat;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 0.5em;

  font-weight: bold;
  color: wheat;
  text-decoration: none;
  font-size: 17px;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: rgb(221, 221, 235);
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 100%;
    flex-direction: column;
    height: auto;

    width: auto;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    justify-content: space-evenly;
    background-color: rgb(148, 80, 80);
  }
  nav .icon-burger {
    display: block;
  }
  nav {
    background-color: #030100;
  }
  nav .logo {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .links a {
    font-size: 20px;
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

a:hover,
a:active,
a.router-link-active {
  color: #ffffff;

  background-color: #d43b15;
  transition: all 1s ease-in-out;
}
</style>
